public_html/wsdl/smsservicews/Common/SmsMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://airmovil.com/SmsMessage"
	xmlns:tns="http://airmovil.com/SmsMessage" 
	elementFormDefault="qualified">
	<complexType name="message">
		<sequence>
			<element name="phoneNumber" type="string" />
			<element name="message" type="string" />
			<element name="loteDetalleId" type="decimal" />
		</sequence>
	</complexType>
</schema>